body{font: 12px Tahoma;}

#dMini{float:left;}

.info{width: 598px;height: 130px;float: left;border: 1px black solid;}
#dToolbar{background-color:#F0F0F0;border:1px gray dotted;height:22px;width:640px;margin:1px;}

.button{
border:1px #F0F0F0 solid;width:20px;height:20px;float:left;text-align:center;
background-color:#cacaca;background-position:center center;background-repeat:no-repeat;
}
.labelbutton{
border:1px #F0F0F0 solid;height:16px;float:left;text-align:left;font-size:11px;
margin:1px;padding-top:2px;
}
.inputbutton{
border:1px #bbb solid;width:34px;height:16px;float:left;text-align:right;font-size:11px;
margin:1px;
}
.separator{
border:1px #F0F0F0 solid;width:5px;height:20px;float:left;
}

#bCreateGrid{background-image:url(images/brick_go.png);}
#bUpdateGrid{background-image:url(images/arrow_refresh.png);}
#bShowMinimap{background-image:url(images/map.png);}
#bUpdateMini{background-image:url(images/arrow_refresh.png);}
#bShowCursor{background-image:url(images/shading.png);}
#bWaterDetails{background-image:url(images/layers.png);}
#bCenter{background-image:url(images/arrow_inout.png);}
#bZoomIn{background-image:url(images/zoom_in.png);}
#bZoomOut{background-image:url(images/zoom_out.png);}
#bRotateLeft{background-image:url(images/arrow_turn_left.png);}
#bRotateRight{background-image:url(images/arrow_turn_right.png);}